@media only screen and (min-width: 750px) {
  
  nav button {
    display: none;
  }

  nav ul.hide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-content: center;
  }

  nav ul li a {
    border-top: none;
  }
}