@media only screen and (min-width: 750px) {
  
  nav button {
    display: none;
  }

  nav ul.hide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  nav ul li {
    border-right: .1rem solid white;
    border-left: .1rem solid white;
  }

  nav ul li a {
    border-top: none;
  }

  .contact-page {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .map {
    border-right: .2rem solid var(--cadet);
    border-bottom: none;
  }

  .contact-page div:nth-child(1) {
    border-bottom: none;
  }
}