@media only screen and (min-width: 550px) {
  .contact-info img {
    max-width: 100%;
  }

  .contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-page div:nth-child(1) {
    border-bottom: .2rem solid var(--cadet);
  }

  .map {
    border-left: .2rem solid var(--cadet);
    align-self: center;
  }

  .contact-page iframe {
    margin: 0 auto;
  }

  .contact-page, form, .membership-benefits {
    padding: 1rem;
  }

  div.cards {
    border-radius: 0 0 .5rem .5rem;
  }

  div.buttons {
    display: block;
    margin: 0 .5rem 0 .5rem;
    background-color: var(--onyx);
    border-radius: .5rem .5rem 0 0;
    padding: .5rem .5rem 0 .5rem;
  }

  .grid-button {
    background-color: white;
    font-family: "Arima Madurai", Helvetica, sans-serif;
    font-weight: bold;
    padding: .5rem;
    border: .1rem solid var(--davys-grey);
    border-radius: .5rem .5rem 0 0;
    display: inline;
  }

  .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 
}