@media only screen and (min-width: 550px) {
  header {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 0.5em;
    border-top: 10px solid #031f3a;
    border-bottom: 10px solid #031f3a;
    padding: 0 0.7em;
    align-items: center;
  }

  h1 {
    box-shadow: none;
  }

  img {
    border-radius: 0;
    grid-area: 1/2/2/3;
  }

  header div {
    grid-area: 1/1/2/2;
  }

  aside {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 650px) {
  header {
    grid-template-columns: 2fr 1fr;
  }
  
  .example-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
  }
  .examples {
    border: 3px solid #489599;
  }
}