body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  max-width: 960px;
  margin: 1em auto;
  border-left: 5px solid #12263A;
  border-right: 5px solid #12263A;
}

h1, h2, h3 {
  font-family: "Metamorphous", Garamond, serif;
}

h1 {
  font-size: 2em;
  background-color: #12263A;
  color: #E1C27A;
  padding: .5em;
  margin-top: 1em;
  margin: 0;
}

h2, h2 a {
  color: #12263A;
  background-color: #E1C27A;
}

h2 {
  padding: .5em;
  margin-left: -.75em;
  margin-right: -.75em;
  border: 2px solid #12263A;
}

h2 a {
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
  padding: .7em;
  border: 2px solid #12263A;
  border-radius: 1em;
  background-color: #E8D19B;
}

h3{
  color: #E1C27A;
  background-color: #12263A;
  padding: .5rem;
}

img {
  border-radius: 1.25em;
  max-width: 50%;
  margin: 1em;
  border: 1.5px solid #12263A;
}

main {
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #12263A;
}

ul {
  list-style-type: square;
}

ul.classes, .weeks {
  list-style-type: none;
}

.example {
  padding: .3em;
  margin: .2em;
  background-color: #F0E0BC;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  padding-top: .5rem;
}

a {
  color: #A31B14;
}

a:hover {
  background-color: #E1C27A;
  color: #12263A;
}

footer {
  background-color: #12263A;
  color: #E1C27A;
  padding: 1.5em;
}

footer a {
  color: #E1C27A;
}

footer a:hover {
  background-color: #06BCC1;
}
