body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  max-width: 960px;
  margin: 1em auto;
  border-left: 5px solid #12263a;
  border-right: 5px solid #12263a;
}

a {
  color: #a31b14;
}

h2,
h2 a {
  color: #12263a;
  background-color: #e1c27a;
}

h2 a {
  text-decoration: none;
}

footer a {
  color: #e1c27a;
}

h1,
h2,
h3 {
  font-family: "Metamorphous", Garamond, serif;
}

h1 {
  font-size: 2em;
  background-color: #12263a;
  color: #e1c27a;
  padding: 0.5em;
  margin: 0;
}

a:hover {
  background-color: #e1c27a;
  color: #12263a;
}

h2 {
  padding: 0.5em;
  margin-left: -0.75em;
  margin-right: -0.75em;
  border: 2px solid #12263a;
}

h2 a:hover {
  text-decoration: underline;
  padding: 0.7em;
  border: 2px solid #12263a;
  border-radius: 1em;
  background-color: #e8d19b;
}

footer a:hover {
  background-color: #06bcc1;
}

h3 {
  color: #e1c27a;
  background-color: #12263a;
  padding: 0.5rem;
}

img {
  max-width: 50%;
  display: block;
  margin: 1em;
}

img#Emily {
  border-radius: 1.25em;
  max-width: 50%;
  margin: 1em;
  border: 1.5px solid #12263a;
}

main {
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #12263a;
}

ul {
  list-style-type: square;
}

.classes,
.weeks,
.notes {
  list-style-type: none;
}

.weeks {
  padding: 0.5em;
}

.example {
  padding: 0.3em;
  margin: 0.2em;
  background-color: #f0e0bc;
  font-weight: bold;
}

.bold {
  font-weight: bold;
  padding-top: 0.5rem;
}

footer {
  background-color: #12263a;
  color: #e1c27a;
  padding: 1.5em;
}

#square {
  margin: 1em;
  width: 125px;
  height: 125px;
  background-color: #12263a;
}

#square.animate {
  background-color: chartreuse;
  transform: rotate(20deg) translate(50px, 0);
}
