body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  color: #031f3a;
  margin: 0.5em;
  box-sizing: border-box;
}

.page-wrapper {
  margin: auto;
  max-width: 960px;
}

h1,
h2,
h3 {
  font-family: 'Vollkorn', serif;
}

h2 {
  color: #489599;
}

header {
  display: grid;
  text-align: center;
}

img {
  max-width: 100%;
  justify-self: center;
  border-radius: 0.3em;
  box-shadow: 0 0.5em 0.7em #2f2f2f;
}

h1 {
  font-size: 3em;
  box-shadow:0 0.1em 0.3em #2f2f2f;
}

h3 {
  margin-bottom: 0.1em;
  color: #bb4430;
}

ul {
  margin-top: 0;
  list-style-type: square;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #031f3a;
  color: white;
  text-align: center;
  padding: 0.5em;
}

footer div {
  padding: 0 0.5em;
}

section {
  border-top: 0.2em solid #031f3a;
  margin-bottom: 3.5em;
}

section:first-child {
  margin-top: 3em;
}

.list-emphasis {
  font-size: 1.2em;
  font-weight: bold;
}

.indent {
  margin-left: 0.5em;
}

.indent p {
  margin-top: 0;
}

a {
  color: #bb4430;
  cursor: pointer;
}

a:hover {
  font-size: 1.3em;
}

.examples {
  border: 2px solid #489599;
  padding: 0.5em;
  margin-top: 0.5em;
}

.contact {
  position: sticky;
  top: 0.1em;
}

#contact-button {
  cursor: pointer;
  /* position: sticky; */
  /* top: 0.1em; */
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  border: 1px solid #031f3a;
  border-radius: 0.5em;
  box-shadow: 0 0 7px 2px #bb4430 inset;
}

#contact-button:hover {
  font-size: 1.7em;
  box-shadow: 0 0 10px 2px #bb4430 inset;
  border: 3px solid #031f3a;
}

#contact-info {
  display: none;
}

#contact-info a {
  font-weight: bold;
}

#contact-info.showInfo {
  display: block;
  margin-top: -0.65em;
  border: 0.1em solid #489599;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: 0 0 15px 1px #489599 inset;
  background-color: white;
  padding: 1em;
}