@media only screen and (min-width: 80em) {
  h1 {
    font-size: 3em;
  }
  #container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #num1 {
    grid-template-columns: 1 / 2;
  }
  #num2 {
    grid-template-columns: 2 / 3;
  }
  #num3 {
    grid-template-columns: 3 / 4;
  }
}