node_modules/
web_frontend_development_2/week11/client/week11.js
web_frontend_development_2/week11/client/week11.html
web_frontend_development_2/week11/client/authHelpers.js
web_frontend_development_2/week11/client/auth.js
web_frontend_development_2/week11/client.zip
