@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap");
/*keyframes*/
@keyframes slideLeft {
  0% {
    transform: translateX(125%);
  }
  100% {
    transform: translateX(0%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Gloria Hallelujah", Helvetica, sans-serif;
  font-size: 16px;
}
@media only screen and (min-width: 760px) {
  *,
*::before,
*::after {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  *,
*::before,
*::after {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  *,
*::before,
*::after {
    font-size: 24px;
  }
}

html,
body {
  margin: 0 auto;
}

body {
  background-color: #333333;
}

h3 {
  margin: 1vw;
  font-family: "Fredericka the Great", Georgia, serif;
  font-size: 2.2em;
  font-weight: normal;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements,
footer,
.zen-resources {
  padding: 2vw;
}
.preamble h3::first-letter,
.explanation h3::first-letter,
.participation h3::first-letter,
.benefits h3::first-letter,
.requirements h3::first-letter,
footer h3::first-letter,
.zen-resources h3::first-letter {
  font-size: 2.5em;
}

/*Added this to get our A to Zen banner*/
header::before {
  content: url(assets/small-header.svg);
}
@media only screen and (min-width: 480px) {
  header::before {
    content: url(assets/header.svg);
  }
}

h1,
h2,
h2 abbr {
  display: none;
}

.summary p:nth-child(1) {
  color: transparent;
}
.summary p:nth-child(1)::before {
  content: url(assets/erased-board1.svg);
}
.summary p:nth-child(1)::after {
  content: url(assets/summary.svg);
}
.summary p:nth-child(2) {
  text-align: center;
  opacity: 0.8;
}
.summary abbr {
  display: none;
}
.summary a {
  font-size: 1.5em;
  font-family: "Fredericka the Great", Georgia, serif;
}

.preamble::before {
  content: url(assets/erased-board3.svg);
}

.explanation::before {
  content: url(assets/erased-board2.svg);
}

.participation::before {
  content: url(assets/erased-board3.svg);
}

.benefits::before {
  content: url(assets/erased-board1.svg);
}

.requirements::before {
  content: url(assets/erased-board3.svg);
}

.requirements::after {
  content: url(assets/erased-board2.svg);
}

footer {
  text-align: center;
}
footer::before {
  content: "Helpful Links:";
  display: block;
  font-size: 2.2em;
  margin-bottom: 0.5em;
}
footer a {
  font-family: "Fredericka the Great", Georgia, serif;
  font-size: 2.5em;
  margin-right: 1em;
}
footer::after {
  content: url(assets/erased-board3.svg);
}

.design-selection {
  width: 100vw;
  height: 20vh;
  position: fixed;
  bottom: 5vh;
  left: 0;
  background-color: #2B4162;
  transform: translateX(125%);
  animation: slideLeft 0.2s 5s forwards;
}
.design-selection h3 {
  display: none;
}

.design-archives {
  width: 100vw;
  height: 5vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #247BA0;
  transform: translateX(125%);
  animation: slideLeft 0.2s 5s forwards;
}
.design-archives h3 {
  display: none;
}

.zen-resources::after {
  content: url(assets/erased-board1.svg);
}

/*# sourceMappingURL=estyles.css.map */
