@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap");
/*Added this to get our A to Zen banner*/
header::before {
  content: url(assets/header.svg);
}

h1,
h2,
h2 abbr {
  color: transparent;
  font-size: 1px;
}

.summary p:nth-child(1) {
  color: transparent;
  font-size: 1px;
}
.summary p:nth-child(1)::before {
  content: url(assets/erased-board1.svg);
}
.summary p:nth-child(1)::after {
  content: url(assets/summary.svg);
}
.summary p:nth-child(2) {
  text-align: center;
  opacity: 0.8;
}
.summary abbr {
  display: none;
}
.summary a {
  font-size: 1.5em;
  font-family: "Fredericka the Great", Georgia, serif;
}

.preamble h3::before {
  content: url(assets/preamble.svg);
}

.explanation h3::before {
  content: url(assets/explanation.svg);
}

.participation h3::before {
  content: url(assets/participation.svg);
}

.benefits h3::before {
  content: url(assets/benefits.svg);
}

.requirements h3::before {
  content: url(assets/requirements.svg);
}

.requirements::after {
  content: url(assets/erased-board2.svg);
}

footer {
  text-align: center;
}
footer::before {
  content: "Helpful Links:";
  display: block;
  font-size: 2.2em;
  margin-bottom: 0.5em;
}
footer::after {
  content: url(assets/erased-board3.svg);
}
footer a {
  font-family: "Fredericka the Great", Georgia, serif;
  font-size: 2.5em;
  margin-right: 1em;
}
footer a:last-child {
  margin-right: 0;
}

.wrapper {
  width: 100vw;
  height: 36vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #65483E;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 29vh 7vh;
  transform: translateX(200%);
  animation: slideLeft 0.3s 5s forwards;
}
.wrapper h3 {
  display: none;
}
@media only screen and (min-width: 420px) {
  .wrapper {
    height: 35vh;
    grid-template-columns: 66vw 34vw;
    grid-template-rows: 30vh 5vh;
  }
}
@media only screen and (min-width: 650px) {
  .wrapper {
    grid-template-columns: 50vw 50vw;
  }
}
@media only screen and (min-width: 900px) {
  .wrapper {
    height: 32vh;
    border: 5px solid #3E2D28;
    background-color: #3E2D28;
    justify-content: space-evenly;
    grid-template-columns: 30vw 30vw 30vw;
  }
}

.design-selection {
  z-index: 2;
}
.design-selection ul {
  width: 100vw;
}
.design-selection li {
  height: 27vh;
}
.design-selection a {
  -webkit-transform: rotateZ(90deg) translateY(-12vw);
  transform: rotateZ(90deg) translateY(-12vw);
  line-height: 5vw;
}
.design-selection .design-name {
  padding-top: 6vw;
}
.design-selection .designer-name {
  padding-top: 8vw;
}
.design-selection li:nth-child(1) a {
  width: 27vh;
}
.design-selection li:nth-child(2) {
  height: 22.95vh;
}
.design-selection li:nth-child(2) a {
  width: 22.95vh;
}
.design-selection li:nth-child(3) {
  height: 20.25vh;
}
.design-selection li:nth-child(3) a {
  width: 20.25vh;
}
.design-selection li:nth-child(4) {
  height: 24.3vh;
}
.design-selection li:nth-child(4) a {
  width: 24.3vh;
}
.design-selection ul li:nth-child(5) a {
  width: 24.3vh;
  -webkit-transform: rotateZ(90deg) translateY(-11vw);
  transform: rotateZ(90deg) translateY(-11vw);
}
.design-selection li:nth-child(6) {
  height: 24.3vh;
}
.design-selection li:nth-child(6) a {
  width: 24.3vh;
}
.design-selection li:nth-child(7) {
  height: 27vh;
}
.design-selection li:nth-child(7) a {
  width: 27vh;
}
.design-selection li:nth-child(8) {
  background-color: #F04819;
  height: 24.3vh;
}
.design-selection li:nth-child(8) a {
  width: 24.3vh;
}
@media only screen and (min-width: 420px) {
  .design-selection {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .design-selection ul {
    width: 66vw;
  }
  .design-selection li {
    height: 28vh;
  }
  .design-selection a {
    -webkit-transform: rotateZ(90deg) translateY(-7.92vw);
    transform: rotateZ(90deg) translateY(-7.92vw);
    line-height: 3.3vw;
  }
  .design-selection .design-name {
    padding-top: 3.96vw;
  }
  .design-selection .designer-name {
    padding-top: 5.28vw;
  }
  .design-selection li:nth-child(1) a {
    width: 28vh;
  }
  .design-selection li:nth-child(2) {
    height: 23.8vh;
  }
  .design-selection li:nth-child(2) a {
    width: 23.8vh;
  }
  .design-selection li:nth-child(3) {
    height: 21vh;
  }
  .design-selection li:nth-child(3) a {
    width: 21vh;
  }
  .design-selection li:nth-child(4) {
    height: 25.2vh;
  }
  .design-selection li:nth-child(4) a {
    width: 25.2vh;
  }
  .design-selection ul li:nth-child(5) a {
    width: 25.2vh;
    -webkit-transform: rotateZ(90deg) translateY(-7.26vw);
    transform: rotateZ(90deg) translateY(-7.26vw);
  }
  .design-selection li:nth-child(6) {
    height: 25.2vh;
  }
  .design-selection li:nth-child(6) a {
    width: 25.2vh;
  }
  .design-selection li:nth-child(7) {
    height: 28vh;
  }
  .design-selection li:nth-child(7) a {
    width: 28vh;
  }
  .design-selection li:nth-child(8) {
    background-color: #F04819;
    height: 25.2vh;
  }
  .design-selection li:nth-child(8) a {
    width: 25.2vh;
  }
}
@media only screen and (min-width: 650px) {
  .design-selection {
    grid-column: 1/2;
  }
  .design-selection ul {
    width: 50vw;
  }
  .design-selection li {
    height: 29vh;
  }
  .design-selection a {
    -webkit-transform: rotateZ(90deg) translateY(-6vw);
    transform: rotateZ(90deg) translateY(-6vw);
    line-height: 2.5vw;
  }
  .design-selection .design-name {
    padding-top: 3vw;
  }
  .design-selection .designer-name {
    padding-top: 4vw;
  }
  .design-selection li:nth-child(1) a {
    width: 29vh;
  }
  .design-selection li:nth-child(2) {
    height: 24.65vh;
  }
  .design-selection li:nth-child(2) a {
    width: 24.65vh;
  }
  .design-selection li:nth-child(3) {
    height: 21.75vh;
  }
  .design-selection li:nth-child(3) a {
    width: 21.75vh;
  }
  .design-selection li:nth-child(4) {
    height: 26.1vh;
  }
  .design-selection li:nth-child(4) a {
    width: 26.1vh;
  }
  .design-selection ul li:nth-child(5) a {
    width: 26.1vh;
    -webkit-transform: rotateZ(90deg) translateY(-5.5vw);
    transform: rotateZ(90deg) translateY(-5.5vw);
  }
  .design-selection li:nth-child(6) {
    height: 26.1vh;
  }
  .design-selection li:nth-child(6) a {
    width: 26.1vh;
  }
  .design-selection li:nth-child(7) {
    height: 29vh;
  }
  .design-selection li:nth-child(7) a {
    width: 29vh;
  }
  .design-selection li:nth-child(8) {
    background-color: #F04819;
    height: 26.1vh;
  }
  .design-selection li:nth-child(8) a {
    width: 26.1vh;
  }
}
@media only screen and (min-width: 900px) {
  .design-selection {
    width: 30vw;
  }
  .design-selection ul {
    width: 30vw;
  }
  .design-selection li {
    height: 29vh;
  }
  .design-selection a {
    -webkit-transform: rotateZ(90deg) translateY(-3.6vw);
    transform: rotateZ(90deg) translateY(-3.6vw);
    line-height: 1.5vw;
  }
  .design-selection .design-name {
    padding-top: 1.8vw;
  }
  .design-selection .designer-name {
    padding-top: 2.4vw;
  }
  .design-selection li:nth-child(1) a {
    width: 29vh;
  }
  .design-selection li:nth-child(2) {
    height: 24.65vh;
  }
  .design-selection li:nth-child(2) a {
    width: 24.65vh;
  }
  .design-selection li:nth-child(3) {
    height: 21.75vh;
  }
  .design-selection li:nth-child(3) a {
    width: 21.75vh;
  }
  .design-selection li:nth-child(4) {
    height: 26.1vh;
  }
  .design-selection li:nth-child(4) a {
    width: 26.1vh;
  }
  .design-selection ul li:nth-child(5) a {
    width: 26.1vh;
    -webkit-transform: rotateZ(90deg) translateY(-3.3vw);
    transform: rotateZ(90deg) translateY(-3.3vw);
  }
  .design-selection li:nth-child(6) {
    height: 26.1vh;
  }
  .design-selection li:nth-child(6) a {
    width: 26.1vh;
  }
  .design-selection li:nth-child(7) {
    height: 29vh;
  }
  .design-selection li:nth-child(7) a {
    width: 29vh;
  }
  .design-selection li:nth-child(8) {
    background-color: #F04819;
    height: 26.1vh;
  }
  .design-selection li:nth-child(8) a {
    width: 26.1vh;
  }
}

.design-selection ul {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  gap: 0.1em;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 0.7fr 1fr 1.2fr 1fr;
  align-items: end;
  list-style: none;
  border: 5px solid #3E2D28;
  background-color: #65483E;
  margin: 0 auto 0 0;
  padding: 0;
}

.design-selection li {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid black;
  text-decoration: none;
  transform: rotateX(0deg) translateY(0);
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 100ms;
  -webkit-transform: rotateX(0deg) translateY(0);
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 100ms;
  color: transparent;
  position: relative;
}

.design-selection a {
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  margin: 0;
  position: absolute;
  text-decoration: none;
}

.design-name {
  color: White;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  padding-left: 1vh;
  padding-right: 2vh;
  font-family: Helvetica, sans-serif;
}

.designer-name {
  color: black;
  text-align: right;
  font-size: 10px;
  padding-right: 1vh;
}

.design-selection li:nth-child(1) {
  background-color: #2B4162;
}
.design-selection li:nth-child(1) a.design-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.design-selection li:nth-child(2) {
  background-color: #247BA0;
}

.design-selection li:nth-child(3) {
  background-color: #F04819;
}
.design-selection li:nth-child(3).design-name {
  font-size: 1.5rem;
}

.design-selection li:nth-child(4) {
  background-color: #2B4162;
}

.design-selection li:nth-child(5) {
  background-color: #FE9000;
}

.design-selection li:nth-child(6) {
  background-color: #ffffff;
}
.design-selection li:nth-child(6) a {
  color: #2B4162;
}

.design-selection li:nth-child(7) {
  background-color: #247BA0;
}
.design-selection li:nth-child(7) a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-right: 1vh;
}

.design-selection li:nth-child(8) {
  background-color: #F04819;
}

.design-selection li:hover {
  transform: scale3d(1.15, 1.15, 1) translateY(0);
  z-index: 99;
  transition: transform ease-in 0.5s;
}

.design-archives {
  z-index: 2;
  width: 100vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  left: 0;
  grid-row: 2/3;
  background-color: #247BA0;
}
.design-archives ul {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
}
.design-archives ul li:nth-child(1) {
  float: left;
}
.design-archives ul li:nth-child(2) {
  float: right;
}
.design-archives h3 {
  display: none;
}
@media only screen and (min-width: 420px) {
  .design-archives {
    height: 5vh;
  }
}
@media only screen and (min-width: 650px) {
  .design-archives {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 900px) {
  .design-archives {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 30vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 45% 55%;
    border: 5px solid #3E2D28;
    background-color: #65483E;
    padding: 0;
    align-content: end;
  }
  .design-archives h3 {
    font-size: 5px;
    color: transparent;
    background-image: url(assets/bluebooks2.svg);
    background-repeat: no-repeat;
    grid-column: 1/2;
    height: 27vh;
    display: block;
    margin: 15px 0 0 0;
  }
  .design-archives ul {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 50% 50%;
    list-style: none;
    gap: 2px;
    height: 28vh;
    padding: 0;
    margin: auto 0 0 0;
    text-align: center;
  }
  .design-archives ul li:nth-child(1) {
    background: url(assets/maygreen-apple.svg);
    background-size: 16vw 15vh;
    background-repeat: no-repeat;
    padding-top: 5vh;
  }
  .design-archives ul li:nth-child(2) {
    background-image: url(assets/box.svg);
    background-size: 16vw 15vh;
    background-repeat: no-repeat;
    padding-top: 5vh;
  }
  .design-archives nav ul li a {
    color: white;
    font-size: 0.7em;
    text-decoration: none;
  }
  .design-archives nav ul li a:hover {
    font-size: 0.9em;
    text-decoration: underline;
  }
}

.zen-resources {
  visibility: hidden;
}
.zen-resources ul {
  list-style-type: square;
}
.zen-resources ul a:hover,
.zen-resources ul abbr:hover {
  font-weight: bold;
  color: #ffffff;
}
@media only screen and (min-width: 420px) {
  .zen-resources {
    grid-column: 2/3;
    grid-row: 1/2;
    visibility: visible;
    border: 5px solid #3E2D28;
    width: 34vw;
    height: 30vh;
    background-image: url(assets/clipboard.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .zen-resources ul {
    margin: 10.5vw 0;
    padding-right: 3.5vw;
  }
}
@media only screen and (min-width: 420px) and (min-width: 470px) {
  .zen-resources ul {
    margin: 10vw 1.9vw;
  }
}
@media only screen and (min-width: 420px) and (min-width: 520px) {
  .zen-resources ul {
    margin: 10vw 3vw;
  }
}
@media only screen and (min-width: 420px) and (min-width: 570px) {
  .zen-resources ul {
    margin: 7.5vw 4.1vw;
  }
}
@media only screen and (min-width: 420px) and (min-width: 610px) {
  .zen-resources ul {
    margin: 7vw 5vw;
  }
}
@media only screen and (min-width: 420px) {
  .zen-resources ul li {
    line-height: 1.5;
    color: #333333;
    font-size: 10px;
  }
}
@media only screen and (min-width: 420px) {
  .zen-resources ul a, .zen-resources ul abbr {
    color: #333333;
    font-size: 11px;
  }
}
@media only screen and (min-width: 650px) {
  .zen-resources {
    border: 5px solid #3E2D28;
    background-color: #65483E;
    padding: 0;
    align-content: end;
    align-items: end;
    height: 30vh;
    width: 50vw;
    position: relative;
    background-image: none;
  }
  .zen-resources h3 {
    display: none;
  }
  .zen-resources ul {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: 1.2fr 0.8fr 1.5fr 0.8fr 2fr;
    grid-template-columns: 2vh 1fr 1fr 6fr 1fr 1fr;
    height: 29vh;
    width: 48vw;
    gap: 2px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .zen-resources ul li {
    border: 1px solid black;
    background-color: #F04819;
  }
  .zen-resources ul li:nth-child(1) {
    background-color: #247BA0;
    grid-row: 6/7;
    grid-column: 2/7;
    padding-left: 0.5em;
  }
  .zen-resources ul li:nth-child(2) {
    background-color: #247BA0;
    grid-column: 1/5;
    grid-row: 2/3;
    width: 36vw;
    justify-self: start;
  }
  .zen-resources ul li:nth-child(3) {
    background-color: #F04819;
    grid-column: 2/5;
    grid-row: 3/4;
    width: 36vw;
    justify-self: end;
    text-align: center;
    padding-top: 0.5em;
  }
  .zen-resources ul li:nth-child(3) abbr {
    font-size: 2em;
  }
  .zen-resources ul li:nth-child(4) {
    background-color: #2B4162;
    grid-column: 2/6;
    grid-row: 4/5;
    padding-left: 0.3em;
  }
  .zen-resources ul li:nth-child(4) a {
    font-size: 1.2em;
  }
  .zen-resources ul li:nth-child(5) {
    background-color: #FE9000;
    grid-column: 1/6;
    grid-row: 5/6;
    text-align: center;
    padding-top: 0.5em;
  }
  .zen-resources ul li:nth-child(5) a {
    font-size: 2em;
  }
  .zen-resources ul li:hover {
    transform: scale3d(1.15, 1.15, 1) translateY(0);
    z-index: 99;
    transition: transform ease-in 0.5s;
  }
  .zen-resources ul li a, .zen-resources ul li abbr {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 3vh;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media only screen and (min-width: 900px) {
  .zen-resources {
    grid-column: 3/4;
    width: 30vw;
  }
  .zen-resources ul {
    width: 30vw;
  }
  .zen-resources ul li:nth-child(2), .zen-resources ul li:nth-child(3) {
    width: 21vw;
  }
}

/*keyframes*/
@keyframes slideLeft {
  0% {
    transform: translateX(200%);
  }
  40% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Gloria Hallelujah", Helvetica, sans-serif;
  font-size: 16px;
}
@media only screen and (min-width: 650px) {
  *,
*::before,
*::after {
    font-size: 18px;
  }
}
@media only screen and (min-width: 900px) {
  *,
*::before,
*::after {
    font-size: 20px;
  }
}

html,
body {
  margin: 0 auto;
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: #333333;
}

.main,
.intro {
  max-width: 900px;
  margin: 0 auto;
}

h3 {
  margin: 1vw;
  font-family: "Fredericka the Great", Georgia, serif;
  font-size: 2.2em;
  font-weight: normal;
}

.preamble,
.explanation,
.participation,
.benefits,
.requirements,
footer {
  padding: 2vw;
}

/*# sourceMappingURL=styles.css.map */
