@media only screen and (min-width: 65em) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 4rem;
  }

  nav a:hover {
    border-left: .3rem solid #e0995e;
    border-right: .3rem solid #e0995e;
  }

  .weather-summary {
    position: absolute;
    top: 4rem;
    left: 40rem;
  }

  .weather-summary h3 {
    border-top: .3rem solid #e0995e;
    border-bottom: .3rem solid #e0995e;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery div:hover {
    box-shadow: 0 0 1.5rem lightgrey;
  }

  .towns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .towngrid, .middlegrid {
    display: block;
  }
}