body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  max-width: 1400px;
  margin: auto;
  background-color: #e7a303;
  padding: 2rem;
  text-align: center;
}

main {
  background-color: #ffedc2;
  border-radius: 0 0 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

h1, h2 {
  font-family: "Metamorphous", Garamond, serif;
  font-weight: bold;
}

h1 {
  background-color: #494947;
  border-radius: 1rem 1rem 0 0;
  color: white;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: .75rem;
}

h2 {
  color: #fbaf00;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

section {
  background-color: #494947;
  color: white;
  border-radius: 1rem;
  padding: .5rem;
}

p {
  margin: 0;
}

img {
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: 0 .25rem .5rem;
  max-width: 90%
}
.yellow {
  color: #ffedc2;
}

footer {
  background-color: #494947;
  color: white;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: .5rem;
}


@media only screen and (min-width: 40em) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 65em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    font-size: 3rem;
  }
}