body {
  background-color: #e0ebf5;
  font-family: "Spartan", Helvetica, sans-serif;
  font-size: 14px;
}

header {
  background-color: #3A4455;
  padding: .5rem;
  margin: 0;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1.5rem;
}

header h1 {
  color: #e0ebf5;
  text-decoration: underline #e0995e;
}

header p {
  color: white;
}

.logo {
  grid-column: 1 / 2;
  max-width: 100%;
  align-self: center;
  justify-self: end;
  margin: 0;
}

.name-motto {
  grid-column: 2 / 3;
  align-self: center;
}

/*The following aside/banner is only displayed on Fridays using my javascript file*/
aside {
  display: none;
}

.banner {
  display: block;
  justify-self: center;
  background-color: #e0ebf5;
  color: #3A4455;
  font-family: "New Tegomin", serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  grid-column: 1 / 3;
  width: 98%;
}

nav {
  background-color: white;
  margin: 0;
  padding: 0;
  border: .3rem solid #4f5d73;
}

nav button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav ul.hide {
  display: none;
}

nav ul li a {
  font-size: 1.2rem;
  color: #3A4455;
  text-align: center;
  text-decoration: none;
  display: block;
  padding: .4rem;
}

nav ul li.active a {
  background-color: #4f5d73;
  color: white;
}

nav a:hover {
  background-color: #e0ebf5;
  border-left: .1rem solid #e0995e;
  border-right: .1rem solid #e0995e;
  text-decoration: underline;
}

main {
  max-width: 1100px;
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
}

main div {
  padding: .75rem;
  background-color: white;
  border: 1px solid #4f5d73;
  border-radius: .5rem;
}

.map {
  display: none;
}

h2 {
  background-color: #4f5d73;
  border-radius: .5rem;
  padding: .5rem;
  color: #e0995e;
  text-align: center;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "New Tegomin", serif;
}

h1 {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  border-radius: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  text-align: center;
  margin-top: .25rem;
  font-size: .8rem;
}

.firstdiv {
  position: relative;
}

.weather-summary h3 {
  background-color: #e0ebf5;
  color: #3A4455;
  border-top: .1rem solid #e0995e;
  border-bottom: .1rem solid #e0995e;
  margin-top: 0;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: .5rem;
}

.weather-summary {
  background-color: #4f5d73;
  color: white;
  padding: 2rem;
  padding-bottom: .75rem;
}

.forecast {
  display: none;
}

.contact h3 {
  color: #e0995e;
  border-bottom: 2px solid #e0995e;
}

footer {
  font-size: 1rem;
  background-color: #3A4455;
  color: white;
  text-align: center;
  padding: 1.5rem;
  margin: .75rem auto;
}
footer a {
  color: white;
}

footer a:hover {
  background-color: #e0ebf5;
  color: #3A4455;
}

