/*Added this to get our A to Zen banner*/
header {
  height: 70vh;
  width: 100vw;
  background: url(assets/atozenheader.svg);
  border-top: 3vw solid $color-2;
  border-bottom: 3vw solid $color-2;
  background-color: $color-5;
  background-repeat: no-repeat;
  background-size: 100vw 70vh;
  // @include breakpoint($small) {
  //   background-color: $color-1;
  // }
  // @include breakpoint($medium) {
  //   background-color: $color-2;
  // }
  // @include breakpoint($large) {
  //   background-color: $color-3;
  // }
  & h1,
  h2 {
    display:none;
  }
}