/*Added this to get our A to Zen banner*/
header::before {
  content: url(assets/small-header.svg);
  @include breakpoint($small) {
    content: url(assets/header.svg);
  }
}

h1,
h2,
h2 abbr {
    display: none;
}