//Important fonts: Fredericka the Great & Gloria Hallelujah
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap');

//color variables
$color-1: #2B4162; //indigo dye
$color-2: #247BA0; // celedon blue
$color-3: #FE9000; // yellow orange color wheel
$color-4: #F04819; // coquelicot
$color-5: #333333; // jet
$color-6: #ffffff; // white

//font variables
$main-font: "Gloria Hallelujah", Helvetica, sans-serif;
$header-font: "Fredericka the Great", Georgia, serif;

//breakpoints
$small: 25em;
$medium: 40em;
$large: 60em;

@mixin breakpoint($break) {
  @media only screen and (min-width: $break) {
    @content;
  }
}

//general page settings
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 60em;
  margin: auto;
  font-family: $main-font;
  font-size: 18px;
  padding: 1vw;
}

//scss partial imports
@import 'header';

