@media only screen and (min-width: 40em) {
  
  nav button {
    display: none;
  }
 
  nav ul li a {
    border-top: none;
  }
  
  nav ul.hide {
    display: flex;
  }

 nav ul li {
    flex: 1 1 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .logo {
    align-self: center;
  }
}