//Here are the variables
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;
$break-small: 450px;
$break-medium: 700px;
$break-large: 900px;

@mixin center($width, $max-width: 960px) {
  width: $width;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin breakpoint($break) {
  @if $break == large {
    @media (max-width: $break-large) {@content;}
  }

  @else if $break == medium {
    @media(max-width: $break-medium) {@content;}
  }

  @else if $break == small {
    @media(max-width: $break-small) {@content;}
  }
}

body {
  background-color: $body-background-color;
}

form {
  background-color: lighten($body-background-color, 80%);
}

h1 {
  color: $headlines-color;
}

#contactform {
  background-color: $form-background-color;
  input, textarea {
      background-color: $input-color;
      flex: 2;
  }
  @include breakpoint(small) {
    & {
      @include center(100%, $break-small);
        input {
          width: 100%;
        }
        label {
          display: block;
        }
    }
  }

  @include breakpoint(medium) {
     & {
       @include center(90%, $break-medium);
       label {
         display: inline;
       }
      } 
  }
  @include breakpoint(large) {
    & {
      @include center(70%, $break-large)
    }
  }
}