@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kite+One&display=swap');

:root {
  --dark-gray: #3c3d3e;
  --light-gray: #8a8e91;
  --pink: #fabfb3;
  --border-gray: 0.5vw solid var(--light-gray);
  --border-big-pink: 1vw solid var(--pink);
  --border-small-pink: 0.2vw solid var(--pink);
  box-sizing: border-box;
  font-family: "Kite One", sans-serif;
  font-size: 18px;
  background-color: var(--light-gray);
}

body {
  background-color: var(--dark-gray);
  color: var(--pink);
  max-width: 1024px;
  margin: 0 auto;
  border: var(--border-big-pink);
}

h1, 
h2, 
h3 {
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  border-top: var(--border-big-pink);
  padding-top: 1em;
}

.day {
  padding: 3vw;
  border-top: var(--border-gray);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2vw;
  align-items: center;
}

.planning-square {
  border-left: var(--border-small-pink);
  padding-left: 3vw;
}

input[type="radio"] {
  margin: 1vh;
  cursor: pointer;
}

.full-day {
  display: none;
}

#shopping-list {
  border-top: var(--border-gray);
  padding-top: 1em;
}

li {
  padding-bottom: 0.5em;
}

.addItems {
  border-top: var(--border-small-pink);
  padding: 0.5em;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  gap: 1em;
  align-items: center;
}

.addItems label {
  color: white;
  font-family: "Fredericka the Great", serif;
  font-size: 1.2em;
}

input[type="text"],
#addItem {
  padding: 0.7em;
  font-weight: bold;
  border: 1px solid var(--light-gray);
  background-color: white;
  border-radius: 0.7em;
  box-shadow: 0 0 10px 2px var(--light-gray) inset;
}

input[type="text"]:hover,
#addItem:hover {
  border: var(--border-small-pink);
}

@media only screen and (min-width: 400px) {
  .full-day {
    display: inline;
  }
}