@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kite+One&display=swap');

/*-----General Styles-----*/
:root {
  --dark-gray: #3c3d3e;
  --light-gray: #8a8e91;
  --pink: #fabfb3;
  --border-gray: 0.5vw solid var(--light-gray);
  --border-big-pink: 1vw solid var(--pink);
  --border-small-pink: 0.2vw solid var(--pink);
  box-sizing: border-box;
  font-family: "Kite One", sans-serif;
  font-size: 20px;
  background-color: var(--light-gray);
}

body {
  background-color: var(--dark-gray);
  color: var(--pink);
  max-width: 1024px;
  margin: 0 auto;
  border: var(--border-big-pink);
}

main {
  overflow: hidden;
}

h1, 
h2, 
h3 {
  font-family: "Fredericka the Great", serif;
  font-weight: normal;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  border-top: var(--border-big-pink);
  padding-top: 1em;
}

/*Class for anything that I want to hide*/
.hide {
  display: none;
}

/*I've used this class to hide things in smaller views that I want to see when the screen size is larger*/
.show-more {
  display: none;
}

/*-----Menu Planner Component-----*/
.day {
  padding: 2.5vw;
  border-top: var(--border-gray);
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  gap: 2vw;
  align-items: center;
}

.planning-square {
  border-left: var(--border-small-pink);
  padding-left: 3vw;
  display: grid;
  grid-template-columns: 3fr 0.7fr;
  align-items: center;
  gap: 1vw;
}

.input-div,
.recipe-plan {
  grid-area: 1/1/2/2;
}

.add-more {
  grid-area: 1/2/2/3;
  font-weight: bold;
  border: 1px solid var(--light-gray);
  border-radius: 0.7em;
  box-shadow: 0 0 10px 2px var(--light-gray) inset;
  background-color: #fdded8;
  padding: 0.7em;
  cursor: pointer;
  color: black;
  text-align: center;
}

.add-more:hover {
  border: var(--border-small-pink);
}

.recipe-links {
  color: var(--pink);
  text-decoration: underline #fdded8;
  cursor: pointer;
}

.recipe-links:hover {
  color: #fdded8;
}

input[type="radio"] {
  margin: 1vh;
  cursor: pointer;
}

.remove {
  cursor: pointer;
  margin-left: 0.5em;
  color: var(--light-gray);
}

/*-----Recipe Ideas Component (where info from the API is displayed-----*/
#menu-options {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  width: 95%;
  max-width: 970px;
  height: 60%;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: all .2s ease-out;
  padding: 2vw;
}

#menu-options p,
#menu-options h4 {
  font-family: "Kite One", sans-serif;
  text-align: center;
  color: var(--dark-gray);
}

#menu-options h4 {
  line-height: 1.5;
  cursor: pointer;
}

#menu-options.shown{
  transform: translateY(0%);
}

button.close {
  font-size: 0.7em;
  justify-self: right;
}

.recipes {
  border-top: var(--border-small-pink);
  border-bottom: var(--border-small-pink);
  padding-bottom: 1em;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.recipes a {
  display: block;
  text-align: center;
  margin-top: 2vw;
  color: var(--light-gray);
}

/*-----Shopping List Component-----*/
#shopping-list {
  border-top: var(--border-gray);
  padding: 1em 0.5em;
  list-style-type: none;
}

li {
  padding: 0.5em;
  break-inside: avoid-column;
}

.addItems {
  border-top: var(--border-small-pink);
  padding: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5em;
}

.addItems label {
  display: none;
}

input[type="text"],
button {
  font-weight: bold;
  border: 1px solid var(--light-gray);
  border-radius: 0.7em;
  box-shadow: 0 0 10px 2px var(--light-gray) inset;
}

input[type="text"] {
  background-color: white;
  padding: 0.7em;
  flex: 1;
}

button {
  background-color: #fdded8;
  padding: 0.7em 1.2em;
  cursor: pointer;
}

input[type="text"]:hover,
button:hover {
  border: var(--border-small-pink);
}

input[type="text"]:focus {
  line-height: 1.5;
}

input[type="checkbox"],
div.delete {
  cursor: pointer;
}

div.delete {
  margin-left: 1em;
  color: var(--light-gray);
  display: inline;
  font-size: 0.6em;
  line-height: 2;
}

p.store-item {
  display: inline;
}

.completed p {
  text-decoration: line-through 0.2em;
  opacity: 0.5;
}

/*---Code for larger screen sizes---*/
@media only screen and (min-width: 500px) {
  .show-more {/*This shows things that I've shortened for smaller screen sizes*/
    display: inline;
  }
  
  .day {
    grid-template-columns: 0.7fr 2fr;
  }

  #shopping-list {
    column-count: 2;
    column-rule: 2px solid var(--pink);
  }

  .addItems {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr minmax(min-content, max-content);
    gap: 1em;
    align-items: center;
  }

  .addItems label {/*Only show the "Item" label for screens > 500px*/
    display: block;
    color: white;
    font-family: "Fredericka the Great", serif;
    font-size: 1.2em;
  }

  #menu-options {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }

  .close {
    grid-area: 1/1/2/3;
  }

  #menu-options p {
    grid-area: 2/1/3/3;
  }

  .recipes {
    border: var(--border-small-pink);
  }
}

@media only screen and (min-width: 800px) {
  #shopping-list {
    column-count: 3;
  }
  
  #menu-options {
    grid-template-columns: repeat(3, 1fr);
  }

  .close {
    grid-area: 1/1/2/4;
  }

  #menu-options p {
    grid-area: 2/1/3/4;
  }
}