@media only screen and (min-width: 550px) {

/*-----General CSS for all pages-----*/
h1 {
  font-size: 2.5rem;
}

/*-----Header on all pages-----*/
  header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5rem;
  }

  header p {
    margin-left: 0;
    padding-left: 0;
  }

  .logo {
    grid-column: 1 / 2;
    max-width: 8em;
    align-self: center;
    justify-self: center;
  }
  .name-motto {
    grid-column: 2 / 3;
  }

/*-----CSS for town pages-----*/
  .forecast {
    background-color: #4f5d73;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .forecast h2 {
    color: white;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .forecast div {
    margin-top: .5rem;
    grid-row: 2 / 3;
  }

  .forecast h4 {
    margin-bottom: 0;
  }

  .forecast span {
    font-size: 2rem;
    font-weight: bold;
    color: #3A4455;
  }

  .forecast p {
    margin-top: 0;
    text-align: center;
    font-size: 1.5rem;
    color: #3A4455;
  }

  .forecast img {
    width: 75%;
  }

  .img-and-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .img-and-summary img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
  }

  .weather-summary {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 2;
    margin: .5rem;
    max-width: fit-content;
    justify-self: center;
  }

  .weather-summary h3, .townevents h3 {
    border-top: .2rem solid #e0995e;
    border-bottom: .2rem solid #e0995e;
    font-size: 1.5rem;
  }

  .weather-summary span {
    font-size: 1.25rem;
  }

  .townevents p {
    font-size: 1rem;
  }

/*-----CSS for Gallery Page-----*/
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

/*-----CSS for home page-----*/
  .towngrid {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .towngrid:nth-child(2) img {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .towngrid:nth-child(2) data {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .article img {
    float: left;
    max-width: 400px;
    margin: .5rem .7rem .7rem 0;
  }

  /*Footer on all pages*/
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 1.5rem;
    row-gap: 0;
  }

  .contact-header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .contact h3 {
    font-size: 1.5rem;
    border-bottom: 3.5px solid #e0995e;
  }

  .map {
    display: block;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: .5rem;
  }

  .contact p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1rem;
    text-align: left;
  }

}