@media only screen and (min-width: 32em) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  #scenarios {
    grid-column: 1 / 3;
  }

  .chart {
    grid-column: 1 / 3;
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }
}